<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <style>
            @page {
                margin: 0.5in;
            }

            * {
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            }

            .header {
                padding: 10px;
                display: flex;
            }

            .header .child-left {
                flex: 2;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

            .header .child-right {
                flex: 1;
            }

            .name {
                font-size: 48px;
            }

            .profession {
                font-size: 36px;
                color: grey;
            }

            .age {
                font-size: 36px;
                color: grey;
            }

            .photo {
                border-radius: 50%;
                width: 250px;
            }

            .skills-container {
                display: flex;
                width: 500px;
            }

            .skills-column {
                flex: 1;
            }
        </style>
    </head>

    <body>
        <div class="header">
            <div class="child-left">
                <div class="name">{{.Name}}</div>
                <div class="profession">{{.Profession}}</div>
                <div class="age">{{.Age}}</div>
            </div>
            <div class="child-right">
                <img class="photo" src="{{.CroppedImage}}">
            </div>
        </div>

        <h2>Образование</h2>
        <ul>
            {{range $i, $v := .Education}}
            <li>{{$v}}</li>
            {{end}}
        </ul>

        <h2>Достижения</h2>
        <ul>
            {{range $i, $v := .Achievements}}
            <li>{{$v}}</li>
            {{end}}
        </ul>

        <h2>Навыки</h2>
        {{range $i, $v := .Languages}}
        <b>{{$v}}</b>
        {{end}}
        <div class="skills-container">
            {{range $i, $c := .SkillsColumns}}
            <div class="skills-column">
                <ul>
                    {{range $i, $v := $c}}
                    <li>{{$v}}</li>
                    {{end}}
                </ul>
            </div>
            {{end}}
        </div>

        {{define "contact"}}
        <li>
            {{.Name}}: {{if .Link}}<a href="{{.Link}}">{{if .LinkText}}{{.LinkText}}{{else}}{{.Link}}{{end}}</a>{{else}}{{.Text}}{{end}}
        </li>
        {{end}}

        <h2>Контакты</h2>
        <ul>
            {{range $i, $v := .Contacts}}
            {{template "contact" $v}}
            {{end}}
        </ul>
    </body>
</html>